@import '../../scss/variables.scss';

.SideDrawer {
    background-color: $secondaryColor;
    position: fixed;
    top: 0;
    left: 0;
    width: 70vw;
    padding: 2em 0 5em;
    border-right: 2px solid $primaryColor;
    border-bottom: 2px solid $primaryColor;
    border-bottom-right-radius: 12.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 500ms ease-in-out;
    opacity: 0.3;
    transition-property: transform, opacity;
    transform: translateX(-100%);
    z-index: 5025;
    
    & > li {
        margin: .75em 0;
        &:first-child a {
            width: 50%;
            margin-bottom: 1em;
        }

    }
    
    a {
        font-size: 1.25rem;
        &:hover {
            // text-shadow: 0 0 10px $primaryColor;
        }
    }

}

.ShowSd {
    opacity: 1;
    transform: translateX(0%);
}

.Active {
    // text-shadow: 0 0 10px $primaryColor;
    // &::after {
    //     content: '';
    //     display: block;
    //     width: 50%;
    //     height: 3px;
    //     border-radius: 0 12.5px 0 12.5px;
    //     background-color: $primaryColor;
    //     margin: auto;
    // }
}

@media (min-width: 992px) {
    .SideDrawer {
        flex-direction: row;
        padding: 1em 2em;
        align-items: center;
        width: auto;
        text-align: center;

        & > li {
            margin-right: 2em;
        }
        & > li:first-child {
            justify-self: flex-start;
            margin-right: 10vw;
            a {
                width: 70%;
                margin: 0 auto;
            }
        }

        a {
            font-size: 1.375rem;
        }
    }
}

@media (min-width: 1920px) {
    .SideDrawer {
        padding: 2em 3em;
        
        & > li:first-child a {
            width: 80%;
        }

        a {
            font-size: 1.5rem;
        }
    }
}