@import '../../scss/variables.scss';

.Contact {

    & > span {
        display: block;
        text-align: center;
        font-weight: 500;
        font-size: $buttonFontSize;
    }

    & > a {
        margin: 2em auto 0;
        width: 75%;
        position: relative;

            b {
                position: absolute;
                opacity: .6;
                transition: opacity 500ms ease-in-out;
                pointer-events: none;
                font-size: .85rem;
                right: 0;
                width: 100%;
                bottom: -75%;
                color: $primaryColor;
            }
    }
}

.SeparatorLine {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0.4;
    margin: 3em 0 2em;

    & > span:first-of-type,
    & > span:last-of-type {
        height: 3px;
        width: 45%;
        background-color: $primaryColor;
    }

    & > span {
        font-weight: 700;
    }
}

.ContactForm {
    display: flex;
    flex-direction: column;
    margin: 2em 0;

    & > div {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-bottom: 1.75em;
        border-bottom: 2px solid rgba($primaryColor, 0.6);
        border-top: 2px solid rgba($primaryColor, 0.6);
        border-radius: 12.5px;
    }
    
    input, textarea {
        display: block;
        border-radius: 12.5px;
        background: none;
        border: none;
        outline: none;
        width: 100%;
        height: 100%;
        padding: 1.25em 0 1.25em 5%;
        background-color: rgba($secondaryColor, 0.25);
        font-size: 1rem;
        resize: none;

        &:focus {
            background-color: $secondaryColor;

        }

        &:valid,
        &:focus {
            & ~ label {
                transform: translateY(-150%);
                background-color: $secondaryColor;
                opacity: 1;
                padding: 0 .25em;
                font-size: 1.1rem;
            }
        }
    }

    label {
        position: absolute;
        left: 5%;
        font-weight: 500;
        opacity: 0.5;
        transition: all 250ms ease-in-out;
    }

    textarea ~ label {
        top: 8%;
    }

    & > button:last-child {
        width: 75%;
        margin: 2em auto 0;
    }
}

@media (hover: none) {
    .Contact > a b::before {
        content: '(Hold';
    }
}

@media (hover: hover) {
    .Contact > a b::before {
        content: '(Right-click';
    }
}

@media (hover: hover) and (min-width: 992px) {
    .Contact > a {
        b {
            opacity: 0;
            transition: opacity 500ms ease-in-out;
            right: 0;
            bottom: 0;
            color: $secondaryColor;
        }

        &:hover {
            b {
                opacity: .6;
            }
        }
    }
}

@media (min-width: 992px) {
    .Contact {
        & > span {
            font-size: $buttonFontSize*1.25;
        }

        & > a {
            width: 30%;
            transition: all 500ms ease-in-out;
            display: flex;
            justify-content: center;
        }
    }

    .SeparatorLine > span {
        font-size: 1.25rem;
    }

    .ContactForm {
        width: 50%;
        margin: 2.5em auto;

        input, textarea {
            font-size: 1.125rem;

            &:valid,
            &:focus {
                & ~ label {
                    transform: translateY(-150%);
                    padding: 0 .25em;
                    font-size: 1.25rem;
                }
            }
        }

        label {
            font-size: 1.125rem;
        }
    }
}

@media (min-width: 1920px) {
    .Contact > span {
            font-size: $buttonFontSize*1.5;
    }

    .ContactForm {
        margin: 3em auto;

        input, textarea {
            font-size: 1.25rem;

            &:valid,
            &:focus {
                & ~ label {
                    transform: translateY(-150%);
                    padding: 0 .25em;
                    font-size: 1.375rem;
                }
            }
        }

        label {
            font-size: 1.25rem;
        }
    }
}