@import '../../scss/variables.scss';

.PageTitle {
    position: relative;
    font-family: $secondaryFont;
    font-size: $pageTitleFontSize;
    display: inline-block;
    margin: 1.5em 0;
    z-index: 5025;
    &::after {
        content: '';
        width: 50%;
        height: .125em;
        margin-top: .25em;
        background-color: $primaryColor;
        display: block;
    }
}

@media (min-width: 576px) {
    .PageTitle {
        font-size: $pageTitleFontSize*1.25;
    }
}

@media (min-width: 992px) {
    .PageTitle {
        font-size: $pageTitleFontSize*1.375;
    }
}

@media (min-width: 1920px) {
    .PageTitle {
        font-size: $pageTitleFontSize*1.875;
    }
}