@import './scss/variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $primaryFont;
    color: $primaryColor;
}

button {
    background: none;
    outline: none;
    border: none;
}

body, html, .App {
    background-image: linear-gradient(to bottom right, $secondaryColor, #171007);
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

img, svg {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

a, button {
    cursor: pointer;
}

ul {
    list-style: none;
}

h1,h2,h3,p,a,span,button,label {
    letter-spacing: 0.03rem;
}

.App {
    padding: $m-pad;
}

@media (min-width: 992px) {
    .App {
        padding: $d-pad;
    }
}