/* COLOR VARIABLES */
$primaryColor: #F2AA4C;
$secondaryColor: #101820;

/* FONTS VARIABLES */
$primaryFont: 'Montserrat', sans-serif;
$secondaryFont: 'Montserrat Alternates', sans-serif;
$tertiaryFont: 'Montez', cursive;
$heroFontSize: 1.25rem; 
$buttonFontSize: 1rem;
$pageTitleFontSize: 1.5rem;
$paragraphFontSize: 0.875rem;

/* PADDING VARIABLES */
$m-pad: 10px;
$d-pad: 30px;

