/* COLOR VARIABLES */
$primaryColor: #F2AA4C;
$secondaryColor: #101820;

/* FONTS VARIABLES */
$primaryFont: 'Montserrat', sans-serif;
$secondaryFont: 'Montserrat Alternates', sans-serif;
$tertiaryFont: 'Montez', cursive;
$heroFontSize: 1.25rem; 
$buttonFontSize: 1rem;

/* PADDING VARIABLES */
$m-pad: 10px;