@import '../../scss/variables.scss';

.AboutMeContainer {
    padding-bottom: 5em;
}


.AboutMe {

    margin-right: -$m-pad;
    display: grid;
    grid-template-columns: 15% 85%;

    & > h2 {
        font-family: $tertiaryFont;
        font-size: 15vw;
        font-weight: 500;
        width: 100%;
        grid-column: 1/2;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        text-align: center;
        padding-right: 1.5em;
    } 

    & > img {
        grid-column: 2/-1;
        border: 2px solid $primaryColor;
        border-right: none;
        border-radius: 50px 0 0 50px;
        margin: 0 0 2em auto;
        max-width: 80%;
    }

    & > p {
        grid-column: 1/-1;
        margin-right: $m-pad;
        line-height: 1.5;
        font-weight: 300;
        margin-bottom: 2em;
    }
}

.SkillSet {
    grid-column: 1/-1;
    margin-right: $m-pad;

    & > li {
        display: flex;
        align-items: center;
        margin-bottom: 1em;
    }

    span:first-child {
        padding: .5em;
    }
    
    span:last-child {
        display: block;
        font-family: $secondaryFont;
        font-weight: 400;
        font-size: 1.125rem;
        flex: 1;
        padding-left: .75em;
    }

}

@media (min-width: 576px) {
    .AboutMe {
        grid-template-columns: 10% 90%;
        & > h2 {
            font-size: 12.5vw;
        } 

        & > img {
            max-width: 65%;
        }
    }
}

@media (min-width: 992px) {
    .AboutMe {
        margin-right: -$d-pad;
        grid-template-columns: 40% 25% 35%;
        grid-template-rows: 25% 75%; 

        & > h2 {
            font-size: 3rem*2;
            writing-mode: initial;
            z-index: 10;
            transform: rotate(0deg);
            text-align: left;
            padding: 0;
            grid-column: 1/4;
            grid-row: 1/2;
            margin: 0;
            &::after {
                content: '';
                display: block;
                height: 3px;
                width: 100%;
                background-color: $primaryColor;
                margin-bottom: 1em;
            }
        } 

        & > img {
            max-width: 85%;
            grid-column: 3/-1;
            grid-row: 1/-1;
            margin: 0;
            justify-self: flex-end;
            z-index: 12;
        }

        & > p {
            grid-column: 1/2;
            grid-row: 2/-1;
            margin-right: $d-pad;
            line-height: 1.75;
            margin-bottom: 0;
            font-size: 1rem*1.25;
        }
    }

    .SkillSet {
        margin: 0;
        grid-row: 2/-1;
        grid-column: 2/3;

        & > li {
            margin-bottom: 2em;
        }

        span:first-child {
            padding: .25em;
        }

        span:last-child {
            font-size: 1.25rem;
            font-weight: 500;
        }
    }
}

@media (min-width: 1920px) {
    .AboutMe {
        & > h2 {
            font-size: 3rem*2.75;
        }

        & > p {
            font-size: 1rem*1.5;
        }
    }

    .SkillSet {
        font-size: 1.5rem;

        span:last-child {
            font-size: 1.5rem;
        }
    }
}