@import '../../scss/variables.scss';

.AboutMeContainer {
    padding-bottom: 5em;
}


.AboutMe {

    margin-right: -$m-pad;

    & > h2 {
        font-family: $tertiaryFont;
        font-size: 3rem;
        font-weight: 500;
        margin-bottom: .5em;
        width: 100%;
    } 

    & > img {
        border: 2px solid $primaryColor;
        border-right: none;
        border-radius: 50px 0 0 50px;
        margin: 0 0 2em auto;
        max-width: 60%;
    }

    & > p {
        margin-right: $m-pad;
        line-height: 1.5;
        font-weight: 300;
        margin-bottom: 2em;
    }
}

.SkillSet {
    margin-right: $m-pad;

    & > li {
        display: flex;
        align-items: center;
        margin-bottom: 1em;
    }

    span:first-child {
        padding: .5em;
    }
    
    span:last-child {
        display: block;
        font-family: $secondaryFont;
        font-weight: 400;
        font-size: 1.125rem;
        flex: 1;
        padding-left: .75em;
    }

}

@media (min-width: 576px) {
    .AboutMe {
        & > img {
            max-width: 50%;
        }
    }
}

@media (min-width: 992px) {
    .AboutMe {
        margin-right: -$d-pad;
        display: grid;
        grid-template-columns: 40% 25% 35%;
        grid-template-rows: 30% 70%; 

        & > h2 {
            font-size: 3rem*2;
            grid-column: 1/-1;
            grid-row: 1/2;
            &::after {
                content: '';
                display: block;
                height: 3px;
                width: 100%;
                background-color: $primaryColor;
            }
        } 

        & > img {
            max-width: 80%;
            grid-column: 3/-1;
            grid-row: 1/-1;
        }

        & > p {
            grid-column: 1/2;
            grid-row: 2/-1;
            margin-right: $d-pad;
            line-height: 1.75;
            font-weight: 400;
            margin-bottom: 0;
            font-size: 1rem*1.25;
        }

        & > ul {
            grid-row: 2/-1;
            grid-column: 2/3;
        }
    }

    .SkillSet {
        margin: 0;

        & > li {
            margin-bottom: 1.5em;
        }

        span:first-child {
            padding: .25em;
        }

        span:last-child {
            font-size: 1.25rem;
            font-weight: 500;
        }
    }
}