@import '../../scss/variables.scss';

.AboutMeContainer {
    padding-bottom: 5em;
}


.AboutMe {

    margin-right: -$m-pad;

    & > h2 {
        font-family: $tertiaryFont;
        font-size: 3rem;
        font-weight: 500;
        margin-bottom: .5em;
    } 

    & > img {
        border: 2px solid $primaryColor;
        border-right: none;
        border-radius: 50px 0 0 50px;
        margin: 0 0 2em auto;
        max-width: 75%;
    }

    & > p {
        margin-right: $m-pad;
        line-height: 1.5;
        font-weight: 300;
        margin-bottom: 2em;
    }
}

.SkillSet {
    margin-right: $m-pad;

    & > li {
        display: flex;
        align-items: center;
        margin-bottom: 1em;
    }

    span:first-child {
        padding: .5em;
    }
    
    span:last-child {
        display: block;
        font-family: $secondaryFont;
        font-weight: 400;
        font-size: 1.125rem;
        flex: 1;
        padding-left: .75em;
    }

}